<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
       <add key="EnvironmentIs" value="live"/>
      <add key="FinanceApp" value="O:\Dashboards\NEW LIVE DASHBOARDS\Finances\Finances.exe"/>
      <add key="OMAApp" value="O:\Dashboards\NEW LIVE DASHBOARDS\OMA\Debug\OMA.exe"/>
      <!-- <add key="OfflineLenderApp" value="O:\Dashboards\NEW LIVE DASHBOARDS\OfflineLender\IAF_OfflineLender.exe"/> -->
      <add key="SupportApp" value="O:\Dashboards\NEW LIVE DASHBOARDS\Support-Dashboard\SupportDesk_01.exe"/>
      <add key="OperationsApp" value="O:\Dashboards\NEW LIVE DASHBOARDS\_Operations_with_Goji_btns\Operations.exe"/>
      <add key="MandatesApp" value="O:\Dashboards\NEW LIVE DASHBOARDS\Mandates2\Mandates.exe"/>
      <!-- <add key="MailchimpCurator" value="O:\Dashboards\MailChimpCurator\CURRENT\MailchimpCurator.exe"/>-->
      <add key="LoanLendersApp" value="O:\Dashboards\NEW LIVE DASHBOARDS\LoanLenders\Debug\LoanLenders.exe"/>
      <add key="HoldingsApp" value="O:\Dashboards\NEW LIVE DASHBOARDS\CurrentLoanHoldings\CurrentLoanHoldings\bin\Debug\CurrentLoanHoldings.exe"/>
	  <add key="MIDataAppMk2" value="O:\Dashboards\NEW LIVE DASHBOARDS\MIDataControl mk2\MIDataControl.exe"/>
    </appSettings>
</configuration>