<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
       <add key="EnvironmentIs" value="live"/>
      <add key="FinanceApp" value="O:\Dashboards\NEW LIVE DASHBOARDS\FINANCES Dashboard\Finances.exe"/>
      <add key="OMAApp" value="O:\Dashboards\NEW LIVE DASHBOARDS\_OMA_with_Goji\OMA_With_Goji\OnboardingManagement.exe"/>
      <add key="OfflineLenderApp" value="O:\Dashboards\NEW LIVE DASHBOARDS\OfflineLender\IAF_OfflineLender.exe"/>
      <add key="SupportApp" value="O:\Dashboards\NEW LIVE DASHBOARDS\Support-Dashboard\bin\debug\SupportDesk_01.exe"/>
      <add key="OperationsApp" value="O:\Dashboards\NEW LIVE DASHBOARDS\_Operations_with_Goji_btns\Operations.exe"/>
      <add key="MandatesApp" value="O:\Dashboards\NEW LIVE DASHBOARDS\Mandates\Mandates.exe"/>
      <add key="MailchimpCurator" value="O:\Dashboards\MailChimpCurator\CURRENT\MailchimpCurator.exe"/>

    </appSettings>
</configuration>